/* ==================================== 
       DESKTOP VARIABLES
   ====================================
*/

:root {
  --white-100: #ffffff;
  --white-130: #ffffffdd;
  --white-170: #ffffffb3;
  --white-115: #ffffff26;

  --black-900: #21222e;
  --black-915: #21222ee5;

  --blue-500: #0047ba;
  --blue-550: #0047ba80;
  --blue-530: #397ff24d;

  --gray-700: #989a87;
  --gray-720: #989a8733;
  --gray-300: #eff1f4;
  --gray-400: #eecf93;
}

body {
  background-color: var(--gray-300);
  margin: 0 auto;
  height: 100vh;
  width: 105rem;
}

button {
  cursor: pointer;
}

H2 {
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 900;
  line-height: 84px;
  letter-spacing: 0em;
  margin-left: 70px;
}
H3 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 84px;
  letter-spacing: -0.04em;
  text-align: left;
  text-transform: uppercase;
  color: var(--black-900);

  margin-left: 70px;
}

.h3-spacer__events {
  margin-bottom: 55px;
}

.h3-spacer__studentlife {
  margin-bottom: 50px;
}

H6 {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-100);
  margin-bottom: 35px;
}

.t3 {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-100);
}

.t3-spacer {
  margin-bottom: 5px;
}
.container {
  margin: 0 auto;
}
.section-container {
  width: 1656px;

  margin-left: 12px;
  border-radius: 20px;
}

.inner-block {
  padding-left: 70px;
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.section-spacer {
  margin-bottom: 15px;
}

.btn-spacer {
  margin-bottom: 30px;
}

.kgeu-spacer {
  margin-bottom: 110px;
}

.bgcolor-gray__300 {
  background-color: var(--gray-300);
}

.bgcolor-white__100 {
  background-color: var(--white-100);
}

.bgcolor-blue__500 {
  background-color: var(--blue-500);
}

.color__white {
  color: var(--white-100);
}

.color__black {
  color: var(--black-900);
}

.lowercase {
  text-transform: lowercase;
}

/* ==================================== 
       МЕРОПРИЯТИЯ
   ====================================
*/
.events-container {
  height: 49.6875rem;
}
.events-header {
  width: 99.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-card {
  width: 31.1875rem;
  height: 32.1875rem;
  border-radius: 20px;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.5s ease;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.event-card:nth-child(1) {
  animation-delay: 0.2s;
}
.event-card:nth-child(2) {
  animation-delay: 0.4s;
}
.event-card:nth-child(3) {
  animation-delay: 0.6s;
}

.event-card__commonbg {
  background-color: var(--blue-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-card__imagebg {
  background-image: url("./assests/basket.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.event-card-container {
  width: 27.1875rem;
}

.event-date {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-100);
  margin-bottom: 32px;
}

.event-card-tags {
  display: flex;
  margin-bottom: 50px;
}

.event-tag {
  height: 40px;
  padding: 0px, 16px, 0px, 16px;
  border-radius: 65px;
  gap: 12px;
  border: none;
  background-color: var(--white-115);
}

.event-tag-text {
  color: var(--white-100);
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 0 17px;
}

.event-card-text {
  width: 23.75rem;
  margin-bottom: 100px;
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;

  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: left;

  color: var(--white-100);
}

.event-card-commonbg__spacer {
  margin-bottom: 140px;
}

.event-card-imagebg__spacer {
  margin-bottom: 210px;
}

.event-card-btn {
  width: 27.1875rem;
  height: 60px;
  border-radius: 12px;
  background-color: var(--white-100);
  color: var(--black-900);
  border: none;
  font-family: "Golos Text", sans-serif;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.nav-btn {
  width: 5rem;
  height: 2.5rem;
  padding: 15px, 0px, 14px, 0px;
  border-radius: 999px;
  border: none;
  background-color: var(--gray-300);
}

.all-events-btn {
  width: 103.5625rem;
  height: 92px;
  background-color: var(--white-100);
  border-radius: 20px;
  color: var(--black-900);
  border: none;
  font-family: "Golos Text", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  cursor: pointer;
}
/* ==================================== 
      СТУДЕНЧЕСКАЯ ЖИЗНЬ
   ====================================
*/

.student-life-container {
  height: 390px;
}

.student-life-block {
  display: flex;
}

.student-life-card {
  cursor: pointer;

  width: 436px;
  height: 124px;
  padding: 32px;
  border-radius: 20px;
}

.student-life-card__blue {
  background-color: var(--blue-500);
}

.student-life-card__white {
  background-color: var(--white-100);
}

.student-life-card-image-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.student-life-card-text {
  font-family: "Golos Text", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ==================================== 
      ЗНАКОМСТВО
   ====================================
*/

.about-kgeu-container {
  height: 430px;
}
.about-kgeu-block {
  position: relative;
  display: flex;
}
.about-kgeu__bg {
  background-image: url("./assests/rupor.png");
  background-repeat: no-repeat;
  width: 450px;
  height: 413px;

  position: absolute;
  left: 425px;
  top: 150px;
}

.about-kgeu-inner-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.about-kgeu-links {
  font-family: "Golos Text", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.02em;

  color: var(--blue-500);
  padding-top: 68px;
  padding-left: 282px;
}

.about-kgeu-list {
  list-style-type: none;
  text-decoration: underline;
  text-decoration-color: var(--blue-550);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

a {
  color: inherit;
}

.menu-item {
  margin-bottom: 25px;
}

/* ==================================== 
      ЮБИЛЕЙ
   ====================================
*/

.jubilee-container {
  height: 742px;
}

.jubilee-bg {
  background-image: url("./assests/Group.png");
  background-repeat: no-repeat;
  background-position: 25% 75%;
}
.jubilee-inner-block {
  display: flex;
  justify-content: space-between;
}

.jubilee-text-block {
  width: 700px;
  display: flex;
  flex-direction: column;
}

/* ==================================== 
      ИНТЕРЕСНОЕ
   ====================================
*/
.interesting-container {
  height: 500px;
}
.interesting-h3-spacer {
  margin-bottom: 70px;
}
.interesting-inner-block {
  display: flex;
}
.interesting-card {
  cursor: pointer;
  /* width: 370px;
  height: 204px; */
  padding: 32px;
  border-radius: 20px;
}

.interesting-card-image-block {
  display: flex;
  width: 306px;
  height: 64px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.interesting-card-text {
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
}

/* ==================================== 
      ANIMATIONS
   ====================================
*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
