/* ==================================== 
       DESKTOP VARIABLES
   ====================================
*/

:root {
  --white-100: #ffffff;
  --white-130: #ffffffdd;
  --white-170: #ffffffb3;
  --white-115: #ffffff26;

  --black-900: #21222e;
  --black-915: #21222ee5;

  --blue-500: #0047ba;
  --blue-550: #0047ba80;
  --blue-530: #397ff24d;

  --gray-700: #989a87;
  --gray-720: #989a8733;
  --gray-300: #eff1f4;
  --gray-400: #eecf93;
}

button {
  cursor: pointer;
}
H3 {
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 84px;
  letter-spacing: -0.04em;
  text-align: left;
  text-transform: uppercase;
  color: var(--black-900);
  margin-bottom: 55px;
  margin-left: 70px;
}

H6 {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-100);
}

.section-container {
  width: 1656px;
  height: 795px;
  margin-left: 12px;
}

.inner-block {
  padding-left: 70px;
  display: flex;
  gap: 10px;
}

.events-header {
  width: 1590px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-card {
  width: 499px;
  height: 515px;

  border-radius: 20px;
}

.event-card__commonbg {
  background-color: var(--blue-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-card__imagebg {
  background-image: url("./assests/basket.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.event-card-container {
  width: 435px;
}

.event-date {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-100);
  margin-bottom: 32px;
}

.event-card-tags {
  display: flex;
  margin-bottom: 50px;
}

.event-tag {
  height: 40px;
  padding: 0px, 16px, 0px, 16px;
  border-radius: 65px;
  gap: 12px;
  border: none;
  background-color: var(--white-115);
}

.event-tag-text {
  color: var(--white-100);
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 0 17px;
}

.event-card-text {
  width: 380px;
  margin-bottom: 100px;
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;

  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: left;

  color: var(--white-100);
}

.event-card-commonbg__spacer {
  margin-bottom: 140px;
}

.event-card-imagebg__spacer {
  margin-bottom: 210px;
}

.event-card-btn {
  width: 435px;
  height: 60px;
  border-radius: 12px;
  background-color: var(--white-100);
  color: var(--black-900);
  border: none;
  font-family: "Golos Text", sans-serif;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.nav-btn {
  width: 80px;
  height: 40px;
  padding: 15px, 0px, 14px, 0px;
  border-radius: 999px;
  border: none;
  background-color: var(--gray-300);
}
