/* ==================================== 
       DESKTOP VARIABLES
   ====================================
*/

:root {
  --white-100: #ffffff;
  --white-130: #ffffffdd;
  --white-170: #ffffffb3;
  --white-115: #ffffff26;

  --black-900: #21222e;
  --black-915: #21222ee5;

  --blue-500: #0047ba;
  --blue-550: #0047ba80;
  --blue-530: #397ff24d;

  --gray-700: #989a87;
  --gray-720: #989a8733;
  --gray-300: #eff1f4;
  --gray-400: #eecf93;
}

body {
  background-color: var(--gray-300);
  margin: 0 auto;

  width: 105rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

H2 {
  font-family: "Inter", sans-serif;
  font-size: 5.5rem;
  font-weight: 900;
  line-height: 5.25rem;
  letter-spacing: 0em;
  margin-left: 4.375rem;
  white-space: pre;
  color: transparent;
  animation: textAppearW 0.6s 1s forwards;
  transform-origin: left;
}
H3 {
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  font-weight: 900;
  line-height: 5.25rem;
  letter-spacing: -0.04em;
  text-align: left;
  text-transform: uppercase;
  white-space: pre;
  margin-left: 4.375rem;

  color: transparent;
  animation: textAppear 0.5s 2s forwards;
  transform-origin: left;
}

.h3-spacer__events {
  margin-bottom: 3.4375rem;
}

.h3-spacer__studentlife {
  margin-bottom: 3.125rem;
}

H6 {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.375rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-100);
  margin-bottom: 2.1875rem;
}

.t3 {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-100);
}

.t3-spacer {
  margin-bottom: 0.3125rem;
}
.container {
  margin: 0 auto;
}
.section-container {
  width: 100%;
  max-width: 1656px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 20px;
}

.inner-block {
  padding-left: 4.375rem;
  display: flex;
  gap: 10px;
  margin-bottom: 2.5rem;
}

.section-spacer {
  margin-bottom: 0.9375rem;
}

.btn-spacer {
  margin-bottom: 1.875rem;
}

.kgeu-spacer {
  margin-bottom: 6.875rem;
}

.bgcolor-gray__300 {
  background-color: var(--gray-300);
}

.bgcolor-white__100 {
  background-color: var(--white-100);
}

.bgcolor-blue__500 {
  background-color: var(--blue-500);
}

.color__white {
  color: var(--white-100);
}

.color__black {
  color: var(--black-900);
}

.changecase {
  text-transform: lowercase;
}

/* ==================================== 
       МЕРОПРИЯТИЯ
   ====================================
*/
.events-container {
  height: 49.6875rem;
}
.events-header {
  width: 99.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-card {
  width: 31.1875rem;
  height: 32.1875rem;
  border-radius: 20px;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.5s ease;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.event-card:nth-child(1) {
  animation-delay: 0.2s;
}
.event-card:nth-child(2) {
  animation-delay: 0.4s;
}
.event-card:nth-child(3) {
  animation-delay: 0.6s;
}

.event-card__commonbg {
  background-color: var(--blue-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-card__imagebg {
  background-image: url("./assests/basket.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.event-card-container {
  width: 27.1875rem;
}

.event-date {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;

  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--white-100);
  margin-bottom: 2rem;
}

.event-card-tags {
  display: flex;
  margin-bottom: 3.125rem;
}

.event-tag {
  height: 2.5rem;
  padding: 0rem, 1rem, 0rem, 1rem;
  border-radius: 65px;
  gap: 12px;
  border: none;
  background-color: var(--white-115);
}

.event-tag-text {
  color: var(--white-100);
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 0 17px;
}

.event-card-text {
  width: 23.75rem;
  margin-bottom: 100px;
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;

  font-size: 2rem;
  font-weight: 500;
  line-height: 2.375rem;
  letter-spacing: -0.02em;
  text-align: left;

  color: var(--white-100);
}

.event-card-commonbg__spacer {
  margin-bottom: 8.75rem;
}

.event-card-imagebg__spacer {
  margin-bottom: 13.125rem;
}

.event-card-btn {
  width: 27.1875rem;
  height: 3.75rem;
  border-radius: 12px;
  background-color: var(--white-100);
  color: var(--black-900);
  border: none;
  font-family: "Golos Text", sans-serif;

  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.02em;
}

.nav-btn {
  width: 5rem;
  height: 2.5rem;
  padding: 0.9375rem, 0rem, 0.875rem, 0rem;
  border-radius: 999px;
  border: none;
  background-color: var(--gray-300);
}

.all-events-btn {
  width: 103.5625rem;
  height: 5.75rem;
  background-color: var(--white-100);
  border-radius: 20px;
  color: var(--black-900);
  border: none;
  font-family: "Golos Text", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.02em;
  cursor: pointer;
}
/* ==================================== 
      СТУДЕНЧЕСКАЯ ЖИЗНЬ
   ====================================
*/

.student-life-container {
  height: 24.375rem;
}

.student-life-block {
  display: flex;
}

.student-life-card {
  cursor: pointer;

  width: 27.25rem;
  height: 7.75rem;
  padding: 2rem;
  border-radius: 20px;

  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 5s ease forwards;
}

.student-life-card__blue {
  background-color: var(--blue-500);
}

.student-life-card__white {
  background-color: var(--white-100);
}

.student-life-card-image-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.125rem;
}

.student-life-card-text {
  font-family: "Golos Text", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.02em;
  text-align: left;
}

/* ==================================== 
      ЗНАКОМСТВО
   ====================================
*/

.about-kgeu-container {
  height: 26.875rem;
}
.about-kgeu-block {
  position: relative;
  display: flex;

  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 0.7s ease forwards;
}
.about-kgeu__bg {
  background-image: url("./assests/rupor.png");
  background-repeat: no-repeat;
  width: 28.125rem;
  height: 25.8125rem;

  position: absolute;
  left: 425px;
  top: 150px;
}

.about-kgeu-inner-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.about-kgeu-links {
  font-family: "Golos Text", sans-serif;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.9375rem;
  letter-spacing: -0.02em;

  color: var(--blue-500);
  padding-top: 4.25rem;
  padding-left: 17.625rem;
}

.icon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-item:hover .icon {
  opacity: 1;
}

.about-kgeu-list {
  list-style-type: none;
  text-decoration: underline;
  text-decoration-color: var(--blue-550);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

a {
  color: inherit;
}

.menu-item {
  margin-bottom: 1.5625rem;
}

/* ==================================== 
      ЮБИЛЕЙ
   ====================================
*/

.jubilee-container {
  height: 742px;
}

.jubilee-bg {
  background-image: url("./assests/Group.png");
  background-repeat: no-repeat;
  background-position: 25% 75%;
}
.jubilee-inner-block {
  display: flex;
  justify-content: space-between;
}

.jubilee-text-block {
  width: 700px;
  display: flex;
  flex-direction: column;
}

/* ==================================== 
      ИНТЕРЕСНОЕ
   ====================================
*/
.interesting-container {
  height: 500px;
}
.interesting-h3-spacer {
  margin-bottom: 70px;
}
.interesting-inner-block {
  display: flex;
}
.interesting-card {
  cursor: pointer;

  padding: 32px;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 5s ease forwards;
}

.interesting-card-image-block {
  display: flex;
  width: 306px;
  height: 64px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.interesting-card-text {
  font-family: "Golos Text", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
}

/* ==================================== 
      ANIMATIONS
   ====================================
*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    color: var(--black-900);
  }
}

@keyframes textAppearW {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    color: var(--white-100);
  }
}

/* ============================================================================ 
                                     MOBILE
==============================================================================*/

@media screen and (max-width: 375px) {
  H2 {
    font-size: 2.625rem;
    font-weight: 900;
    line-height: 2.75rem;
    letter-spacing: -0.04em;
    margin-left: 1.375rem;
  }
  H3 {
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 1.8125rem;
    letter-spacing: -0.04em;
    white-space: normal;
    margin-left: 1.375rem;
  }

  .h3-mobile-spacer {
    margin-bottom: 20px;
  }

  H6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
    margin-top: 0;
  }

  .t3 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.0625rem;
    letter-spacing: -0.02em;
  }
  /* ==================================== 
      ЗНАКОМСТВО
   ====================================
*/

  .about-kgeu-container {
    width: 359px;
    height: 461px;
    margin-left: 8px;
    border-radius: 12px;
  }
  .about-kgeu-block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 22.4375rem;
    height: 28.8125rem;

    border-radius: 12px;

    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 0.7s ease forwards;
  }
  .about-kgeu__bg {
    background-image: url("./assests/rupor_sm.png");

    left: 154px;
    top: 298px;
  }

  .about-kgeu-inner-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .about-kgeu-links {
    font-family: "Golos Text", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.0625rem;
    letter-spacing: -0.02em;

    padding-top: 0;
    padding-left: 0;
  }

  .icon {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .menu-item {
    margin-bottom: 1.1rem;
  }
  .menu-item:hover .icon {
    opacity: 1;
  }

  .about-kgeu-list {
    padding-left: 11px;
  }

  a {
    color: inherit;
  }

  /* ==================================== 
      ЮБИЛЕЙ
   ====================================
*/

  .jubilee-container {
    height: 742px;
  }

  .jubilee-bg {
    background-image: url("./assests/55_sm.png");
    background-position: 9% 6%;
  }
  .jubilee-inner-block {
    flex-direction: column;
    justify-content: space-between;
  }

  .jubilee-text-block {
    width: 22.4375rem;
    height: 40.3125rem;

    border-radius: 12px;
  }

  .changecase {
    text-transform: uppercase;
  }
}
